.archives {
    min-height: 87vh;
    place-items: center;
    place-content: center;
}

.heading {
    font-weight: 600;
    color: #112D4E;
}

.link {
    color: blue;
}

.conference {
    margin-top: 1.2rem;
    border: 1px solid #112D4E;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 0 10px #112D4E;;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.time {
    font-weight: 600;
    color: #112D4E;
}

.status {
    font-style: italic;
    font-weight: 400;
    color: #112D4E;
}

.title {
    font-size: 1.3rem;
    font-weight: 700;
    color: #112D4E;
}

.venue {
    font-style: italic;
    font-weight: 400;
    color: #112D4E;
}

.country {
    font-style: italic;
    font-weight: 400;
    color: #112D4E;
}

.downloadButton {
    margin-top: 1rem;
    width: 320px;
    height: 50px;
    background-color: darkgreen;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
}

.downloadButton:hover {
    background-color: green;
    cursor: pointer;
    transform: scale(1.05);
}

.downloadButton:active {
    color: yellow;
    box-shadow: 0 0 10px yellow;
}