.requirements {
    min-height: 87vh;
    place-items: center;
    place-content: center;
    text-align: center;
}

.sections {
    display: flex;
    text-align: left;
}

.sectionsBlock {
    padding-left: 2rem;
}